.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px 0;

  .PDFViewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 1.5rem;
      margin-top: 1rem;
      color: var(--color-background);
    }
  }

  .motivationalText {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    margin: 48px 0;
    width: 100%;

    p {
      text-align: justify;
      margin-top: 10px;
    }

    .assign {
      margin-top: 32px;
      text-align: end;
      font-style: italic;
    }

    .magazineButtonsContainer {
      margin-top: 6.25rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 15rem;

      a {
        &:nth-child(2) {
          margin-top: 20px;
        }
      }
    }
  }

  @media screen and (min-width: 1100px) {
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 25px 20px;

    .motivationalText {
      margin: 0;
      max-width: 1000px;
      padding: 0 60px 0 20px;
      .magazineButtonsContainer {
        flex-wrap: nowrap;
        width: 28rem;

        a {
          &:nth-child(2) {
            margin-top: 0px;
            margin-left: 20px;
          }
        }
      }
    }
  }
}
